h11 {
  color:red;
}

#logo {
      width:50%;
      height:50%;
}

.panel-heading{
  font-size:150%;
}

body{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: #fff;
  background-image: url('../img/login.jpg');
  background-size: 100% 100%;
}

::-webkit-scrollbar{
  width: 0px;
}

.panel{
  background: transparent;
  background-size:unset;
}

.help-block{
  color: #fff;
  font-weight: 900;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: transparent;
  border-color: #00adb5;
  
}